@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    /*width: 100%;
    height: 100vh;
    display: flex;
    justify-content: auto;
    align-items: auto;
    */
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100px;
}

::-webkit-scrollbar {
display: none;
}

/* .banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.wrapper {
    display: block;
    flex-direction: column;
    border: 15px solid black;
}


.banner video {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
}

/*.banner .content {
    position: fixed;
    margin-top: 0;
    z-index: 1; 
    max-width: 0 auto;
    text-align: right;
}*/

#ALB_name {
    position: relative;
    margin-top: -80px;
    margin-left: 200px;
    font-size: 2em;
    text-transform: uppercase;
    color: rgb(7, 14, 116);
}

.img_ALB {
    position:absolute;
    height: 150px;
    margin-top: absolute;
    margin-left: 20px;
    border-radius: 50%;
}

.banner .content p {
    position: relative;
    margin-top: 10px;
    margin-left: 60%;
    margin-right: 5%;
    font-size: 16px;
    color: black;
}

.gb_yc {
    position: relative;
    margin-top: 10px;
    margin-left: 60%;
    margin-right: 5%;
    height: 30px;
}

.LinkedIn {
    position: relative;
    margin-top: 10px;
    margin-left: 60%;
    margin-right: 5%;
    height: 30px;
}

.github_badge {
    position: relative;
    margin-top: 10px;
    margin-left: 60%;
    margin-right: 5%;
    height: 30px;

}